.foot-container {
  height: 300px;
  padding: 60px 75px;
  background-color: #344D84;
}
.foot-container .foot-top {
  height: 250px;
  display: flex;
  border-bottom: 2px solid #fff;
}
.foot-container .foot-top h2 {
  color: #FFD700;
}
.foot-container .foot-top .text-left {
  flex: 1;
}
.foot-container .foot-top .text-left img {
  height: 80px;
  margin-bottom: 25px;
}
@media screen and (max-width: 884px) {
  .foot-container .foot-top .text-left img {
    margin-bottom: 10px;
  }
}
.foot-container .foot-top .text-left .text-page h2 {
  padding-bottom: 25px;
}
.foot-container .foot-top .text-left .text-page p {
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 884px) {
  .foot-container .foot-top .text-left .text-page p {
    margin-top: -10px;
    font-size: 15px;
  }
}
@media screen and (max-width: 884px) {
  .foot-container .foot-top .text-left {
    flex: 0.5;
  }
  .foot-container .foot-top .list-sell {
    margin-left: -30px;
  }
}
.foot-container .foot-top .text-right {
  flex: 1.5;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.foot-container .foot-top .text-right ul .text-bold {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  padding-bottom: 20px;
}
.foot-container .foot-top .text-right ul li {
  list-style: none;
  margin-top: 20px;
}
.foot-container .foot-top .text-right ul li p {
  padding-bottom: 10px;
  font-size: 17px;
  color: #fff;
}
@media screen and (max-width: 884px) {
  .foot-container .foot-top .text-right ul li p {
    display: flex;
    font-size: 15px;
  }
}
.foot-container .foot-top .text-right ul li i {
  margin-right: 10px;
}
@media screen and (max-width: 884px) {
  .foot-container .foot-top .text-right ul li i {
    font-size: 15px;
    margin-right: 5px;
    width: 20px;
  }
}
.foot-container .foot-top .text-right * {
  margin-right: 10px;
  width: 100%;
  margin-right: -5px;
}
@media screen and (max-width: 884px) {
  .foot-container .foot-top {
    width: 700px;
    padding-bottom: 20px;
  }
}
.foot-container .foot-bottom {
  height: 100px;
  display: flex;
}
.foot-container .foot-bottom .left-bottom {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.foot-container .foot-bottom .left-bottom p {
  padding-bottom: 10px;
  color: #fff;
}
.foot-container .foot-bottom .right-bottom {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: end;
}
.foot-container .foot-bottom .right-bottom img {
  height: 40px;
  border-radius: 25px;
  margin-left: 25px;
}
@media screen and (max-width: 884px) {
  .foot-container .foot-bottom .right-bottom img {
    height: 30px;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: -100px;
  }
}
@media screen and (max-width: 884px) {
  .foot-container .foot-bottom {
    font-size: 15px;
    width: 700px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 884px) {
  .foot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px;
  }
}/*# sourceMappingURL=footer.css.map */