body {
  background-color: white;
}

header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 1;
}

.aside {
  padding: 5px;
  background-color: #344D84;
  text-align: center;
  color: #fff;
}
.aside a {
  color: #fff;
}

nav {
  height: 90px;
  display: flex;
  background-color: #CEF1F1;
  box-shadow: 0.1px 0.1px 5px 0.1px;
  border-bottom: 2px solid rgb(226, 226, 226);
}
nav .nav-left {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-left .toggle {
  display: none !important;
  background-color: rebeccapurple;
}
nav .nav-left .logo img {
  height: 80px;
  border-radius: 20px;
  display: flex;
  align-self: center;
}
nav .nav-center {
  flex: 0.8;
  display: flex;
  justify-content: center;
}
nav .nav-center ul {
  display: flex;
  align-items: center;
  list-style: none;
}
nav .nav-center li a {
  padding: 10px 30px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
}
nav .nav-center li a:hover {
  padding: 10px 30px;
  border-radius: 10px;
  color: #fff;
  background: #33A5D6;
}
nav .nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .nav-right .first input[type=text] {
  padding: 10px 50px;
  border-radius: 10px;
  border: 1.5px solid #33A5D6;
  background-color: #CEF1F1;
}
nav .nav-right .first input[type=text]:hover {
  background-color: #fff;
}
nav .nav-right .first .fa-search {
  color: #33A5D6;
  margin-left: -2rem;
}
nav .nav-right .btn-group select {
  padding: 5px 20px;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #c9c8c8;
}
nav .nav-right .btn-group select:hover {
  border: 1.5px solid #33A5D6;
}
nav .nav-right .btn-group .fa:hover {
  color: #33A5D6;
}

body {
  background-color: white;
}

header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 1;
}

.aside {
  padding: 5px;
  background-color: #344D84;
  text-align: center;
  color: #fff;
}
.aside a {
  color: #fff;
}

nav {
  height: 90px;
  display: flex;
  background-color: #CEF1F1;
  box-shadow: 0.1px 0.1px 5px 0.1px;
  border-bottom: 2px solid rgb(226, 226, 226);
}
nav .nav-left {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-left .toggle {
  display: none !important;
  background-color: rebeccapurple;
}
nav .nav-left .logo img {
  height: 80px;
  border-radius: 20px;
  display: flex;
  align-self: center;
}
nav .nav-center {
  flex: 0.8;
  display: flex;
  justify-content: center;
}
nav .nav-center ul {
  display: flex;
  align-items: center;
  list-style: none;
}
nav .nav-center li a {
  padding: 10px 30px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
}
nav .nav-center li a:hover {
  padding: 10px 30px;
  border-radius: 10px;
  color: #fff;
  background: #33A5D6;
}
nav .nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .nav-right .first input[type=text] {
  padding: 10px 50px;
  border-radius: 10px;
  border: 1.5px solid #33A5D6;
  background-color: #CEF1F1;
}
nav .nav-right .first input[type=text]:hover {
  background-color: #fff;
}
nav .nav-right .first .fa-search {
  color: #33A5D6;
  margin-left: -2rem;
}
nav .nav-right .btn-group select {
  padding: 5px 20px;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #c9c8c8;
}
nav .nav-right .btn-group select:hover {
  border: 1.5px solid #33A5D6;
}
nav .nav-right .btn-group .fa:hover {
  color: #33A5D6;
}

body {
  background-color: #CEF1F1;
}

.type-food {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #33c7ae;
  margin-top: 70px;
}
.type-food h2 {
  color: #fff;
  padding-bottom: 20px;
  padding-right: 20%;
  font-size: 40px;
}

.link-foods {
  width: 100%;
  padding: 40px 0;
  margin-left: 50px;
  margin-right: 50px;
}
.link-foods .dropdown {
  position: relative;
  display: inline-block;
}
.link-foods .dropdown .dropbtn {
  background-color: #33A5D6;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.link-foods .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.link-foods .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.link-foods .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.link-foods .dropdown:hover .dropdown-content {
  display: block;
}
.link-foods .dropdown:hover .dropdown-content .dropdown:hover .dropbtn {
  background-color: #33A5D6;
}

.group-card {
  height: 175vh;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.group-card .row-1, .group-card .row-2, .group-card .row-3 {
  height: 375px;
  display: flex;
  gap: 25px;
}

.row-item1,
.row-item2,
.row-item3,
.row-item4,
.row-item5 {
  width: 230px;
  height: 350px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.2px 0.2px 8px 0.2px;
  border-radius: 30px;
}
.row-item1 .top,
.row-item2 .top,
.row-item3 .top,
.row-item4 .top,
.row-item5 .top {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
}
.row-item1 .top .top-1 > img,
.row-item2 .top .top-1 > img,
.row-item3 .top .top-1 > img,
.row-item4 .top .top-1 > img,
.row-item5 .top .top-1 > img {
  border-radius: 20px;
  height: 150px;
}
.row-item1 .bottom,
.row-item2 .bottom,
.row-item3 .bottom,
.row-item4 .bottom,
.row-item5 .bottom {
  flex: 1;
  border-radius: 0 0 30px 30px;
  background: #344D84;
}
.row-item1 .bottom .title,
.row-item2 .bottom .title,
.row-item3 .bottom .title,
.row-item4 .bottom .title,
.row-item5 .bottom .title {
  text-align: center;
  padding-top: 15px;
  color: #fff;
}
.row-item1 .bottom .icon-num,
.row-item2 .bottom .icon-num,
.row-item3 .bottom .icon-num,
.row-item4 .bottom .icon-num,
.row-item5 .bottom .icon-num {
  padding: 25px;
  display: flex;
  justify-content: space-between;
}
.row-item1 .bottom .icon-num .gp-icon,
.row-item2 .bottom .icon-num .gp-icon,
.row-item3 .bottom .icon-num .gp-icon,
.row-item4 .bottom .icon-num .gp-icon,
.row-item5 .bottom .icon-num .gp-icon {
  color: #FFD700;
}
.row-item1 .bottom .icon-num h3,
.row-item2 .bottom .icon-num h3,
.row-item3 .bottom .icon-num h3,
.row-item4 .bottom .icon-num h3,
.row-item5 .bottom .icon-num h3 {
  color: #fff;
}
.row-item1 .bottom .gp-button,
.row-item2 .bottom .gp-button,
.row-item3 .bottom .gp-button,
.row-item4 .bottom .gp-button,
.row-item5 .bottom .gp-button {
  display: flex;
  gap: 20%;
  justify-content: space-around;
}
.row-item1 .bottom .gp-button button,
.row-item2 .bottom .gp-button button,
.row-item3 .bottom .gp-button button,
.row-item4 .bottom .gp-button button,
.row-item5 .bottom .gp-button button {
  padding: 0.5px 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #FFD700;
  background-color: #FFD700;
}
.row-item1 .bottom .gp-button button:hover,
.row-item2 .bottom .gp-button button:hover,
.row-item3 .bottom .gp-button button:hover,
.row-item4 .bottom .gp-button button:hover,
.row-item5 .bottom .gp-button button:hover {
  background-color: rgba(223, 220, 204, 0.1568627451);
  border: 2px solid #FFD700;
}
.row-item1 .bottom .gp-button .icon-1,
.row-item2 .bottom .gp-button .icon-1,
.row-item3 .bottom .gp-button .icon-1,
.row-item4 .bottom .gp-button .icon-1,
.row-item5 .bottom .gp-button .icon-1 {
  font-size: 40px;
  color: #FFD700;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.foot-container {
  height: 300px;
  padding: 60px 75px;
  background-color: #344D84;
}
.foot-container .foot-top {
  height: 250px;
  display: flex;
  border-bottom: 2px solid #fff;
}
.foot-container .foot-top h2 {
  color: #FFD700;
}
.foot-container .foot-top .text-left {
  flex: 1;
}
.foot-container .foot-top .text-left img {
  height: 80px;
  margin-bottom: 25px;
}
.foot-container .foot-top .text-left .text-page h2 {
  padding-bottom: 25px;
}
.foot-container .foot-top .text-left .text-page p {
  font-size: 18px;
  color: #fff;
}
.foot-container .foot-top .text-right {
  flex: 1.5;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.foot-container .foot-top .text-right ul .text-bold {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  padding-bottom: 20px;
}
.foot-container .foot-top .text-right ul li {
  list-style: none;
  margin-top: 20px;
}
.foot-container .foot-top .text-right ul li p {
  padding-bottom: 10px;
  font-size: 17px;
  color: #fff;
}
.foot-container .foot-top .text-right ul li i {
  margin-right: 10px;
}
.foot-container .foot-bottom {
  height: 100px;
  display: flex;
}
.foot-container .foot-bottom .left-bottom {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.foot-container .foot-bottom .left-bottom p {
  padding-bottom: 10px;
  color: #fff;
}
.foot-container .foot-bottom .right-bottom {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: end;
}
.foot-container .foot-bottom .right-bottom img {
  height: 40px;
  border-radius: 25px;
  margin-left: 25px;
}

body {
  background-color: white;
}

header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 1;
}

.aside {
  padding: 5px;
  background-color: #344D84;
  text-align: center;
  color: #fff;
}
.aside a {
  color: #fff;
}

nav {
  height: 90px;
  display: flex;
  background-color: #CEF1F1;
  box-shadow: 0.1px 0.1px 5px 0.1px;
  border-bottom: 2px solid rgb(226, 226, 226);
}
nav .nav-left {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-left .toggle {
  display: none !important;
  background-color: rebeccapurple;
}
nav .nav-left .logo img {
  height: 80px;
  border-radius: 20px;
  display: flex;
  align-self: center;
}
nav .nav-center {
  flex: 0.8;
  display: flex;
  justify-content: center;
}
nav .nav-center ul {
  display: flex;
  align-items: center;
  list-style: none;
}
nav .nav-center li a {
  padding: 10px 30px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
}
nav .nav-center li a:hover {
  padding: 10px 30px;
  border-radius: 10px;
  color: #fff;
  background: #33A5D6;
}
nav .nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .nav-right .first input[type=text] {
  padding: 10px 50px;
  border-radius: 10px;
  border: 1.5px solid #33A5D6;
  background-color: #CEF1F1;
}
nav .nav-right .first input[type=text]:hover {
  background-color: #fff;
}
nav .nav-right .first .fa-search {
  color: #33A5D6;
  margin-left: -2rem;
}
nav .nav-right .btn-group select {
  padding: 5px 20px;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #c9c8c8;
}
nav .nav-right .btn-group select:hover {
  border: 1.5px solid #33A5D6;
}
nav .nav-right .btn-group .fa:hover {
  color: #33A5D6;
}

.cover_background {
  margin-top: 120px;
  width: 100%;
  height: 530px;
  background: url(../images/supermarket.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .cover_background {
    height: 400px;
  }
}
form {
  width: 500px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.404);
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 40px;
}

@media screen and (max-width: 500px) {
  form {
    width: 250px;
    height: 280px;
    padding: 30px;
  }
}
form * {
  display: flex;
  border: 1px solid #fff;
  color: #fff;
}

form h1 {
  display: flex;
  justify-content: center;
  color: #fff;
  border: none;
}

@media screen and (max-width: 500px) {
  form h1 {
    font-size: 15px;
  }
}
.input_email,
.input_password,
.sign_up,
.login_google {
  margin-top: 30px;
  height: 40px;
}

@media screen and (max-width: 500px) {
  .input_email,
  .input_password,
  .sign_up,
  .login_google {
    height: 20px;
    margin-top: 20px;
  }
}
.input_email input,
.input_password input {
  width: 100%;
  font-size: 20px;
  outline: none;
  border: none;
}

@media screen and (max-width: 500px) {
  .input_email input,
  .input_password input {
    font-size: 10px;
  }
}
.input_email,
.input_password {
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
}

.input_email i,
.input_password i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 30px;
}

.input_email i.bx,
.input_password i.bx {
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .input_email i.bx,
  .input_password i.bx {
    font-size: 10px;
  }
}
.sign_up {
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 20px;
}

.sign_up:hover {
  background-color: #33A5D6;
  border: none;
}

.sign_up button {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .sign_up button {
    font-size: 10px;
  }
}
.login_google {
  background-color: rgba(255, 255, 255, 0.7137254902);
  border: none;
  padding-left: 10px;
  border-radius: 20px;
}

.login_google * {
  border: none;
}

.login_google:hover {
  background-color: #fff;
}

.login_google button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 500px) {
  .login_google button img {
    width: 15px;
    height: 15px;
  }
}
.login_google button span {
  width: 350px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #959494;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .login_google button span {
    font-size: 10px;
    margin-left: -100px;
  }
}
.login_acc {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .login_acc {
    font-size: 10px;
  }
}
.login_acc,
.login_acc * {
  border: none;
}

.login_acc,
.login_acc label a {
  margin-left: 10px;
}

::-moz-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus::placeholder {
  opacity: 0;
}

.input_password input,
.input_email input,
.input_password input {
  background-color: transparent;
}

.login_acc a {
  color: white;
  text-decoration: none;
}

.login_acc a:hover {
  text-decoration: underline;
}

/* --------------More information---------------- */
.information {
  height: 350px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 75px;
}
.information .discription {
  flex: 1;
  height: 330px;
  font-size: 18px;
}
.information .discription h1 {
  margin-top: 30px;
}
@media screen and (max-width: 500px) {
  .information .discription h1 {
    margin-top: 18px;
    margin-left: 15px;
  }
}
.information .discription i {
  margin-right: 10px;
  font-size: 25px;
}
@media screen and (max-width: 500px) {
  .information .discription i {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .information .discription {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
}
.information .discription * {
  margin-top: 10px;
}
@media screen and (max-width: 884px) {
  .information .discription * {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  .information .discription * {
    margin-top: 5px;
  }
}
.information .map {
  flex: 1.3;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.information .map iframe {
  height: 290px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0.2px 0.1px 8px 0.2px;
}
@media screen and (max-width: 884px) {
  .information .map iframe {
    width: 350px;
    height: 250px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 500px) {
  .information .map iframe {
    width: 300px;
    height: 150px;
    margin: 15px;
  }
}

@media screen and (max-width: 884px) {
  .information {
    height: 220px;
    padding: 50px;
  }
}
@media screen and (max-width: 500px) {
  .information {
    display: flex;
    flex-direction: column;
    height: 250px;
  }
}/*# sourceMappingURL=login.css.map */