.aside {
  padding: 10px;
  background-color: #33A5D6;
  text-align: center;
  color: #fff;
}

nav {
  height: 90px;
  display: flex;
  background-color: #CEF1F1;
  border-bottom: 2px solid rgb(199, 199, 199);
}
nav .nav-left {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(131, 87, 87); */
}
nav .nav-left .toggle {
  display: none !important;
  background-color: rebeccapurple;
}
nav .nav-left .logo img {
  height: 80px;
  border-radius: 20px;
}
nav .nav-center {
  flex: 0.8;
  display: flex;
  justify-content: center;
  /* background-color: rgb(87, 131, 131); */
}
nav .nav-center ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
}
nav .nav-center ul li a {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
}
nav .nav-center ul li a a:hover {
  padding: 10px 30px;
  border-radius: 10px;
  background: #33A5D6;
}
nav .nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: rgb(182, 71, 176); */
}
nav .nav-right input[type=text] {
  padding: 10px 50px;
  border-radius: 10px;
  border: 1.5px solid #33A5D6;
  background-color: #CEF1F1;
}
nav .nav-right input[type=text]:hover {
  background-color: #fff;
}
nav .nav-right #search-icon {
  margin-left: -2rem;
  color: #33A5D6;
}
nav .nav-right .country {
  padding: 5px 20px;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
}
nav .nav-right .country:hover {
  border: 1.5px solid #33A5D6;
}
nav .nav-right .fa:hover {
  color: #33A5D6;
}

.aside {
  padding: 10px;
  background-color: #33A5D6;
  text-align: center;
  color: #fff;
}

nav {
  height: 90px;
  display: flex;
  background-color: #CEF1F1;
  border-bottom: 2px solid rgb(199, 199, 199);
}
nav .nav-left {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(131, 87, 87); */
}
nav .nav-left .toggle {
  display: none !important;
  background-color: rebeccapurple;
}
nav .nav-left .logo img {
  height: 80px;
  border-radius: 20px;
}
nav .nav-center {
  flex: 0.8;
  display: flex;
  justify-content: center;
  /* background-color: rgb(87, 131, 131); */
}
nav .nav-center ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
}
nav .nav-center ul li a {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
}
nav .nav-center ul li a a:hover {
  padding: 10px 30px;
  border-radius: 10px;
  background: #33A5D6;
}
nav .nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: rgb(182, 71, 176); */
}
nav .nav-right input[type=text] {
  padding: 10px 50px;
  border-radius: 10px;
  border: 1.5px solid #33A5D6;
  background-color: #CEF1F1;
}
nav .nav-right input[type=text]:hover {
  background-color: #fff;
}
nav .nav-right #search-icon {
  margin-left: -2rem;
  color: #33A5D6;
}
nav .nav-right .country {
  padding: 5px 20px;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
}
nav .nav-right .country:hover {
  border: 1.5px solid #33A5D6;
}
nav .nav-right .fa:hover {
  color: #33A5D6;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #CEF1F1;
}/*# sourceMappingURL=main.css.map */