@import "./components/variables";
@import "./components/group-mixin";

.foot-container {
    height: 300px;
    padding: 60px 75px;
    background-color: $black-blue;

    .foot-top {
        height: 250px;
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid $white-color;

        h2 {
            color: $gold-color;
        }

        .text-left {
            flex: 1;

            img {
                height: 80px;
                margin-bottom: 25px;
            }

            .text-page {
                h2 {
                    padding-bottom: 25px;
                }

                p {
                    font-size: 18px;
                    color: $white-color;
                }

                @include responsive ('tablet') {
                    p {
                        margin-top: -10px;
                        font-size: 15px;
                    }
                }

            }
        }

        @include responsive ('tablet') {
            .text-left {
                flex: 0.5;
            }

            .list-sell {
                margin-left: -30px;
            }
        }

        .text-right {
            flex: 1.5;
            display: flex;
            justify-content: space-around;
            padding-top: 20px;

            ul {

                .text-bold {
                    font-weight: bold;
                    font-size: 20px;
                    color: $white-color;
                    padding-bottom: 20px;

                }

                li {
                    list-style: none;
                    margin-top: 20px;

                    p {
                        padding-bottom: 10px;
                        font-size: 17px;
                        color: $white-color;
                    }

                    @include responsive ('tablet') {
                        p {
                            display: flex;
                            font-size: 15px;
                        }
                    }

                    i {
                        margin-right: 10px;
                    }

                    @include responsive ('tablet') {
                        i {
                            font-size: 15px;
                            margin-right: 5px;
                            width: 20px;
                        }
                    }

                }

            }
        }

        .text-right * {
            margin-right: 10px;
            width: 100%;
            margin-right: -5px;
        }
    }

    @include responsive ('tablet') {
        .foot-top {
            width: 700px;
            padding-bottom: 20px;
        }
    }

    .foot-bottom {
        height: 100px;
        display: flex;

        .left-bottom {
            flex: 1;
            @include centered;
            align-items: start;
            flex-direction: column;

            p {
                padding-bottom: 10px;
                color: $white-color;
            }
        }

        .right-bottom {
            flex: 1;
            @include centered;
            justify-content: end;

            img {
                height: 40px;
                border-radius: 25px;
                margin-left: 25px;
            }
        }
    }

}