
@import "./components/nav";
@import "./components/card";

*{
    margin: 0;padding: 0;
    font-family: sans-serif;
}
body{
    background-color:$dark-blue ;
}

@import "./components/nav";
@import "./components/footer";